#virtonex {
  .virtonex-cards {
    .box-gradient {
      border-radius: 30px;
      overflow: hidden;
      padding: 1px;
      background: $custom-window-stroke-gradient;
    }

    .card {
      border: 0;
      min-height: 23.875rem !important;
      background-size: cover;
      border-radius: 30px;
      transition: all 1s;

      & > h3 {
        background: $custom-gray-gradient;
        font-size: 1.875rem;
      }

      .select-gradient {
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
        background-size: 100% 150%;
        background-position: 100% 0%;
        transition: .3s;
        border-radius: 30px;
        flex: 1;

        &:hover {
          background-position: 100% 100%;

          .card-header {
            button {
              opacity: 1;
            }
          }

        }
      }

      button {
        opacity: 0;
        transition: all 0.3s;
      }

      .card-header {
        & > button {
          img {
            margin-left: 20px
          }
        }

        .badge > div {
          font-weight: 400 !important;
        }

        .bx-log-out {
          transform: rotateY(180deg);
        }
      }

      .card-body {
        flex: 0 0 auto;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);

        span, p {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }
}
