#virtonex {
  .virtonex-cards {
    .box-gradient {
      border-radius: 30px;
      overflow: hidden;
      padding: 2px;
      background: $custom-window-stroke-gradient;
    }

    .btn.btn-icon.upload-image {
      position: absolute;
      right: 1rem;
      bottom: 1rem;
      background: $white;
      opacity: 1;
      border-radius: 50%;
      &:hover {
        background: $custom-gray-default;
      }
    }

    .card {
      border: 0;
      min-height: 23.875rem !important;
      background-size: cover;
      background-position: center center;
      border-radius: 30px;
      transition: all 1s;

      &:hover {
        button {
          opacity: 1;
        }

        .select-gradient {
          opacity: 1;
        }
      }

      .select-gradient {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $custom-gray-gradient;
        opacity: 0;
        border-radius: 30px;
        transition: .3s;
      }

      & > h3 {
        background: $custom-gray-gradient;
        font-size: 1.875rem;
      }

      button {
        opacity: 0;
        transition: all 0.3s;
      }

      .card-header {
        padding-top: 30px;
        z-index: 999;
        padding-bottom: 0;

        & > button {
          img {
            margin-left: 20px
          }
        }

        [role="group"] {
          button {
            margin-left: 0.75rem;

            &.btn-icon {
              --si-btn-size: 2.75rem;
            }
          }
        }

      }

      .card-body {
        flex: 0 0 auto;
        border-radius: 30px;
        background-image: linear-gradient(rgba(0, 0, 0, 0), #000000);
        z-index: 999;
        padding-bottom: 30px;

        span, p {
          font-size: 1rem;
          font-weight: 300;
        }

        .card-text {
          &:after {
            content: '…';
          }
        }
      }
    }
  }
}
