@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

#virtonex {
  --si-body-bg: #{$custom-background};
  --si-body-color: #fff;
  --si-body-font-family: 'Inter', sans-serif;
  --si-body-font-size: 1.2rem;

  p {
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 0.8rem;
  }

  span {
    display: inline-block;
    font-size: 1.25rem;
    line-height: 1.5rem;
  }

  .mx-2-5 {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }

  .container-fluid {
    padding-left: 2.875rem !important;
    padding-right: 2.875rem !important;
  }

  .content-first {
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 50px
  }

  .content-second {
    padding-left: 6%;
    padding-right: 3%;
    padding-bottom: 50px
  }

  .header-font {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .text-marine {
    color: $custom-marine;
  }

  .mb-4-5 {
    margin-bottom: 2rem;
  }

  .text-gray {
    color: $custom-disabled-gray;
  }

  .modal {
    --si-modal-width: 38.3125rem;
    --si-modal-bg: rgba(0, 0, 0, 0.7);

    .btn-close {
      background: rgba(0,0,0,0) url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat
    }

    .modal-dialog {

      h4 {
        font-weight: 500;
      }
    }
  }

  .ml-auto {
    margin-left: auto !important;
  }
}
