#virtonex {
  [class^="icon-"], [class*=" icon-"] {
    &.text-primary {
      &::before {
        color: $primary;
      }
    }

    &.text-success {
      &::before {
        color: $success;
      }
    }

    &.text-black {
      &::before {
        color: $black;
      }
    }

    &.text-warning {
      &::before {
        color: $warning;
      }
    }

    &.text-yellow {
      &::before {
        color: $custom-yellow;
      }
    }

    &.size-sm {
      font-size: 1rem;
    }

    &.icon-size-md {
      font-size: 1.5rem;

      > span {
        font-size: 1.5rem;
      }
    }

    &.icon-size-lg {
      font-size: 1.8125rem;
    }

    &.icon-logo-youtube {
      font-size: 1.4375rem;

      > span {
        font-size: 1.4375rem;
      }
    }

    &.icon-logo-twitter {
      font-size: 1.5625rem;
    }

    &.icon-logo-telegram {
      font-size: 1.375rem;
      padding-top: 3px;
      padding-right: 5px;
    }

    &.icon-logo-vk {
      font-size: 2rem;

      > span {
        font-size: 2rem;
      }
    }
  }
}
