#virtonex {
  .nav.nav-tabs.special {
    max-width: 33.5625rem;
    --si-nav-tabs-link-bg: #{$custom-windows};
    --si-nav-tabs-link-hover-bg: rgba(255, 255, 255, 0.2);
    --si-nav-tabs-link-active-bg: #{$primary};
    --si-nav-tabs-link-color: #{$white};
    --si-nav-tabs-link-hover-color: #{$white};
    --si-nav-tabs-link-active-color: #{$white};

    .nav-item {
      margin-bottom: 1rem;
      -webkit-appearance: none;

      .nav-link {
        font-size: 1.75rem;
        border: 1px solid $custom-window-stroke;
        --si-nav-link-padding-y: 1.11rem;
        --si-nav-link-padding-x: 2.375rem;
        -webkit-appearance: none;

        &:hover {
          cursor: pointer;
        }

        i {
          margin-left: auto;
        }

        &.invalid {
          border-color: $custom-red
        }
      }
    }
  }

  #sign {
    --si-nav-tabs-link-active-bg: none;
    --si-nav-tabs-link-bg: none;
    --si-nav-tabs-link-hover-bg: none;
    --si-nav-tabs-link-hover-color: $white;
    --si-nav-tabs-link-color: #{$custom-gray-default};

    .nav-item {
      margin-right: 30px;
      margin-bottom: 64px;

      .nav-link {
        padding: 0;
        border-radius: 0;
        transition: all 0.1s;
        font-size: 1.5rem;
        --si-nav-link-font-weight: 500;

        &.active {
          border-bottom: 4px solid $primary;
          --si-nav-link-font-weight: 600;
        }

        /*&:hover {
          border-bottom: 4px solid $primary;
        }*/
      }
    }
  }
}
