#virtonex {

  [iu-body], [users-body], [contacts-body] {

    &.invalid {
      border-bottom: 1px solid red;
    }

    [iu-item] {
      display: none;
      justify-content: space-between;
      margin: 1.1875rem 0;
      align-items: center;
    }

    [iu-button] {

    }

    [iu-image] {
      max-width: 2.625rem;
      max-height: 2.625rem;
      border-radius: 0.5625rem;
      font-size: 1.5rem;
      margin-right: 0.625rem;

      &.icon {
        width: 2rem;
      }
    }

    [iu-file-name], [iu-name] {
      font-size: 1.25rem;
    }

    [iu-input] {

    }

    [iu-popover-action] {
      position: relative;

      [iu-popover] {
        display: none;
        background: #292B31;
        border: none;
        border-radius: 9px;
        overflow: hidden;
        position: absolute;
        left: -10px;
        top: 20px;
        padding: 0;
        flex-direction: column;
        align-items: center;
        font-family: "Inter", sans-serif;
        z-index: 999999;

        span {
          font-size: 1rem;
          cursor: pointer;
          padding: 0.5rem 2rem 0.5rem 0.6875rem;
          width: 100%;

          &:hover {
            background: rgba(255, 255, 255, 0.1);
          }

          i {
            margin-right: 0.5625rem
          }
        }
      }

    }

  }

  [iu-modal-image] {
    border-radius: 0.5625rem;
    max-width: 2.625rem;
    max-height: 2.625rem;
  }
}
