//
// user.scss
// Use this to write your custom SCSS
//

#virtonex {

  #virtonex-form-action {
    max-width: 33.5625rem;
  }

  .special {
    h4 {
      font-size: 1.5rem;
    }
  }

  .virtonex-custom-image {
    border-radius: 30px;
    overflow: hidden;
    max-width: 33.5625rem;
    width: 100%;
  }

  #step5_spaceStatus {
    font-weight: 700;
  }

  .window {
    background: $custom-windows;
    backdrop-filter: $custom-blur-under-windows;
    border: 2px solid $custom-window-stroke-border;
    border-radius: 30px;
    padding: 38px;

    &.action {
      h4 {

      }
    }
  }

  .mb-23 {
    margin-bottom: 2.375rem !important;
  }

  &.background1 {
    background-image: url('/assets/img/virtonex/authorize-background.webp');
    background-color: $custom-background;
    background-size: cover;
    background-position: center center;
  }

  .window-dark-background {
    background: rgba(0, 0, 0, 0.7);
  }

  #recoveryPassword {
    color: $custom-gray-default;
    font-size: 16px;
    border-bottom: 1px solid $custom-gray-default;
    line-height: 1.1rem;
    cursor: pointer;
  }

  .event-header {
    font-size: 1.875rem;
  }

  .partners {
    .header {
      font-size: 1rem;
    }

    .items span {
      max-width: 120px;
      font-size: 1rem;
    }
  }

}
