.signPage {

  .signHeader {
    font-size: 60px;
    color: $white;
  }

  #recoveryPassword {
    margin-top: 128px;
  }

  [for='authorizationPage_signUp_confidentiality'] {
    line-height: 1.3rem;

    span {
      border-bottom: 1px solid $white;
      line-height: 1.1rem;
    }
  }
}
